<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087259856127-shcr70tnju5cl9svpogi9brqqh0matdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087259856127-shcr70tnju5cl9svpogi9brqqh0matdr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1087259856127-rmgq83p9svcmslqaj9g1hdhl51qb74mu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeBlg5XjdbsPbufu8F15_cF1ZOqJr_tbY</string>
	<key>GCM_SENDER_ID</key>
	<string>1087259856127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greenbii.dataRoom</string>
	<key>PROJECT_ID</key>
	<string>data-room---greenbii</string>
	<key>STORAGE_BUCKET</key>
	<string>data-room---greenbii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087259856127:ios:457bd7890332087b6b50ca</string>
</dict>
</plist>